./app/bootstrap.php.cache
!app/cache/.gitkeep
./app/config/parameters.yml
!app/logs/.gitkeep
./app/phpunit.xml
./bin/
./composer.phar
./vendor/
./web/bundles/
./web/uploads/img/
./app/logs/*
/app/cache/*
/app/logs/*
./app/cache/prod/*
./app/cache/dev/*
./app/logs/.gitkeep/*
./app/logs/.svn/*
./web/uploads/csv_critere.csv
./web/uploads/csv_points_faibles.csv
./web/uploads/csv_points_forts.csv
