./app/bootstrap.php.cache
./app/cache/*
!app/cache/.gitkeep
./app/config/parameters.yml
./app/logs/*
!app/logs/.gitkeep
./app/phpunit.xml
./bin/
./composer.phar
./vendor/
./web/bundles/
./web/uploads/img/
./web/cache/
./web/bundles/csv_critere.csv
./web/bundles/csv_points_faibles.csv
./web/bundles/csv_points_forts.csv
