<ul id="marque-list"  class="col-md-12">
  {% for produit in produits %}
    <li onClick="selectMarque('{{ produit.marque }}');">{{ produit.marque }}</li>
  {% endfor %}
</ul>
<style>
#marque-list{float: left;
height: 200px;
list-style: outside none none;
margin: 0;
overflow: auto;
padding: 0;}
#marque-list li{padding: 10px; background:#FAFAFA;border-bottom:#F0F0F0 1px solid;}
#marque-list li:hover{background:#F0F0F0;cursor: pointer}
</style>