<ul id="country-list"  class="col-md-12">
  {% for produit in produits %}
    <li onClick="selectName('{{ produit.name }}');">{{ produit.name }}</li>
  {% endfor %}
</ul>
<style>
#country-list{float: left;
height: 200px;
list-style: outside none none;
margin: 0;
overflow: auto;
padding: 0;}
#country-list li{padding: 10px; background:#FAFAFA;border-bottom:#F0F0F0 1px solid;}
#country-list li:hover{background:#F0F0F0;cursor: pointer}
</style>