{% for categorie in sous_categ %}
{% set my_categoriename = categorie[0].name|split('(') %}
     <option value="{{categorie.id}}">{{my_categoriename[0]}} {{ categorie[1] }} (avis) </option>
{% endfor %}
  